* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

/* COMMON */
/* FINE COMMON */

/* Heaader */

/* Sony */
/* Fine Sony */

/* Navbar */
/* Fine Navbar */

/* Fine Header */


/* Main */

/* Banner 1 */
/* Fine Banner 1 */

/* Console */
/* Fine Console */

/* Banner 2 */
/* Fine Banner 2 */

/* Nuove Uscite */
/* Fine Nuove Uscite */

/* Esplora */
/* Fine Esplora */

/* PS-Plus */
/* Fine PS-Plus */

/* Sconti */
/* Fine sconti */

/* PS-Now */
/* Fine PS-Now */

/* Social */
/* Fine Social */

/* Fine Main */


/* Footer */
/* Fine Footer */