* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */
.orange {
    background-color: #cd3d10;
}

h2 {
    font-size: 40px;
}
/* FINE COMMON */

/* Heaader */

/* Sony */
#sony {
    background-color: black;
}

.sony-logo {
    width: 100px;
    height: 40px;
}
/* Fine Sony */

/* Navbar */
.fa-chevron-down {
    color: lightgrey;
    font-size: 12px;
    padding-left: 5px;
    justify-content: end;
}

#navigazione button {
    margin: 0 10px;
}
/* Fine Navbar */

/* Fine Header */


/* Main */
/* Banner 1 */
#jumbotron {
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    padding: 40px;
}

.img-jumbo{
    width: 200px;
}
/* Fine Banner 1 */

/* Game-banner */
#game-banner {
    width: 100%;
    padding: 40px;
}

.border-game {
    border-radius: 20px;
}

#game-banner img:hover {
    border: 1px solid blue;
}
/* Fine Game-banner */

/* Console */
#console {
    padding: 40px;
}

#console sup {
    font-size: 8px;
}

.opacity {
    opacity: 0.6;
}

.opacity:hover {
    opacity: 1;
    border-bottom: 1px solid blue;
}
/* Fine Console */

/* Banner 2 */
#jumbotron-2 {
    width: 100%;
    height: 600px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    padding: 40px;
}
/* Fine Banner 2 */

/* Nuove Uscite */
#new {
    background-color: #1f1f1f;
    padding: 40px;
}

#new sup {
    font-size: 8px
}
/* Fine Nuove Uscite */

/* Accessori */
#accessori {
    padding: 80px 40px;
}
/* Fine Accessori */

/* PS-Plus */
#ps-plus {
    background-color: #bebcbb;
    padding: 0 40px;
}

#ps-plus button {
    background-color: #d9dadc;
}
/* Fine PS-Plus */

/* Sconti */
#sconti {
    padding: 80px 40px;
}
/* Fine sconti */

/* PS-Now */
#ps-now {
    background-color: #161c3b;
    padding: 0 40px;
}
/* Fine PS-Now */

/* Social */
#social {
    padding: 80px 40px;
}
/* Fine Social */
/* Fine Main */

/* Footer */
footer {
    background-color: #00439c;
}

#footer {
    padding: 80px 40px;
}

.logo-footer {
    width: 100px;
}

.legnguage-globe {
    width: 20px;
    vertical-align: middle;
}

.sony-footer-logo {
    width: 150px;
}
/* Fine Footer */